name: Deploy to GitHub Pages

on:
  push:
    branches: [main] # Runs every time you push to main

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install and Build
        run: |
          npm ci #
          chmod +x ./node_modules/.bin/vite
          npm run build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist # Vite's build folder
          branch: gh-pages
